div {
    width: 100px;
    height: 100px;
}

#a {
    background-color: red;
    float: left;
    width: 800px;
    height: 200px;
}
#b {
    background-color: orange;
    width: 200px;
    height: 200px;
    float: left;
}
#c {
    background-color: yellow;
    width: 1000px;
    height: 50px;
    clear: left;
}
#d {
    background-color: green; 
    width: 200px;
    height: 400px;   
    float: left;
}
#e {
    background-color: blue;
    width: 800px;
    height: 400px; 
    float: left;
}